@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(219, 100%, 74%);
$dark-blue: hsl(218, 44%, 22%);
$sky-blue: rgb(213, 225, 239);
$gray: rgb(109, 109, 109);
$pink: rgb(255, 192, 203);