.totalvotos{
    min-width: 60%;
    height: 170px;
    width: 800px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    margin: 0px 0;

    h3,p{
        margin: 20px auto;
    }
}

