.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    border: 1px solid black;
    border-radius: 15px;
    margin:  10px;

  img{
    width: 280px;
    
  }  

  button{
    height: 30px;
    width: 80px;
    font-size: 20px;
  }
}