@use '../../styles/variables';

.album {
  box-shadow: rgba(171, 20, 60, 0.25) 0px 13px 27px -5px,
              rgba(171, 20, 60, 0.3) 0px 8px 16px -8px;
  background-color: variables.$white;
  border-radius: 8px;
  display: flex;
  width: 450px;
  margin-bottom: 1.5rem;
  transition: scale ease 0.25s, box-shadow ease 0.25s;

  &:hover {
    box-shadow: rgba(255, 0, 68, 0.25) 0px 13px 27px -5px,
              rgba(255, 0, 68, 0.3) 0px 8px 16px -8px;
    scale: 1.005;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__genre {
    font-size: 0.7rem;
    background-color: variables.$pink;
    padding: 0 10px;
    border-radius: 1rem;
  }

  &__img {
    width: 40%;
    border-radius: 8px 0px 0px 8px;
  }

  &__info {
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__like {
    cursor: pointer;
  }
}

.artist {
  &__album {
    font-size: 0.7rem;
    color: variables.$gray;
  }

  &__info {}

  &__name {
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.song {
  &__info {
    font-size: 0.9rem;
    color: variables.$gray;
  }

  &__name {
    font-weight: bold;
  }

  &__year {}
}